.project {
  max-width: 600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;

  a:first-of-type {
    width: fit-content;
  }

  h1 {
    margin: 20px 0;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    list-style: inside;
    margin-bottom: 28px;
  }

  .img {
    width: 100%;
    margin-bottom: 20px;
  }

  a:last-of-type {
    align-self: center;
  }
}